---
import { Icon } from "astro-icon";
---

<section class="text-gray-600 body-font">
  <div
    class="container px-5 py-24 mx-auto flex flex-wrap"
    data-aos="fade"
    data-aos-duration="500"
    data-aos-delay="200">
    <div
      class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">
          Tecnologías líderes que impulsan la innovación
        </h1>
        <div class="leading-relaxed">
          ReNE Chat utiliza tecnologías líderes en la industria para brindar una
          experiencia sin contratiempos y resultados cada vez más precisos en el
          análisis del Reglamento Nacional de Edificaciones. Estas herramientas
          aseguran un rendimiento sobresaliente y una plataforma fácil de usar.
        </div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <p class="leading-relaxed">NextJs</p>
        <Icon class="h-8 md:h-12" name="simple-icons:nextdotjs" />
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <p class="leading-relaxed">Pinecone</p>
        <Icon class="h-8 md:h-10" name="pinecone" />
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <p class="leading-relaxed">Langchain</p>
        <div class="flex">
          <Icon class="h-8 md:h-10" name="openmoji:parrot" />
          <Icon class="h-8 md:h-10" name="akar-icons:link-chain" />
        </div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <p class="leading-relaxed">Tailwindcss</p>
        <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
      </div>
    </div>
    <div
      class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img
        class="object-cover object-center w-full h-full"
        src="/assets/feature2.jpg"
        alt="stats"
      />
    </div>
  </div>
</section>
