---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Vivienda m.orada",
    description:
      "Abordar la problemática de la vivienda digna, desde una perspectiva colectiva.",
    icon: "bx:bxs-building-house",
  },
  {
    title: "M.jora de servicios",
    description:
      "Impulsar y acelerar el acceso universal a servicios básicos mediante el uso de soluciones tecnológicas y digitales.",
    icon: "bx:bxs-server",
  },
  {
    title: "Equipamiento de espacios",
    description:
      "Mejorar la experiencia y uso del mobiliario y espacio urbano mediante el uso de Big Data y plantear nuevas soluciones de materiales, manejo y supervisión.",
    icon: "bx:bxs-bolt-circle",
  },
  {
    title: "Seguridad para todos pan.ca",
    description:
      "Aplicar herramientas digitales para mejorar el monitoreo, la integración entre sistemas y la alerta temprana en la seguridad urbana.",
    icon: "bx:bxs-webcam",
  },
  {
    title: "Movilidad mo.te",
    description:
      "Buscar mejorar la experiencia en las circulaciones en pendientes y cerros (escaleras), uso de transporte público y accesibilidad a la ciudad para personas con movilidad reducida.",
    icon: "bx:bxs-car-crash",
  },
  {
    title: "Financiamiento e.lote",
    description:
      "Acceso a financiamiento formal y/o no tradicional, mediante regularización y puesta en valor de la propiedad usando herramientas digitales como blockchain y Smart contracts.",
    icon: "bx:bxl-codepen",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Nuestras líneas de investigación
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
