---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Vivienda | m.orada",
    description:
      "Resolver la problemática de la vivienda digna en comunidades emergentes y países en desarrollo con soluciones colectivas y herramientas de inteligencia artificial",
    icon: "bx:bxs-building-house",
  },
  {
    title: "Servicios | m.jora",
    description:
      "Acelerar el acceso universal a servicios básicos con soluciones tecnológicas y digitales, mejorando la calidad de vida en áreas en desarrollo.",
    icon: "bx:bxs-server",
  },
  {
    title: "Equipamiento | can.cha",
    description:
      "Transformar la experiencia y uso del mobiliario y espacio urbano con Big Data y soluciones innovadoras de materiales, manejo y supervisión",
    icon: "bx:bxs-bolt-circle",
  },
  {
    title: "Seguridad | pan.ca",
    description:
      "Repensar la seguridad urbana con herramientas digitales avanzadas para monitorear, integrar y alertar en tiempo real para prevenir delitos y violencia en áreas urbanas",
    icon: "bx:bxs-webcam",
  },
  {
    title: "Movilidad | mo.te",
    description:
      "Mejorar la movilidad urbana en una experiencia accesible y eficiente para todos, mediante soluciones tecnológicas innovadoras que incluyen el transporte público y la accesibilidad de espacios urbanos ",
    icon: "bx:bxs-car-crash",
  },
  {
    title: "Financiamiento | e.lote",
    description:
      "Lograr el acceso a financiamiento formal y no tradicional, con regularización y valorización de la propiedad a través de herramientas digitales innovadoras como blockchain y 'Smart contracts'",
    icon: "bx:bxl-codepen",
  },
  {
    title: "Conectividad | co.rn",
    description:
      "Conectar ciudades con el mundo digital, ofreciendo acceso universal y equitativo a internet y tecnologías avanzadas, para acelerar el progreso y reducir la desigualdad en comunidades emergentes",
    icon: "bx:bxl-codepen",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight">
    Nuestras líneas de investigación
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid grid-container sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="child-element flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<style>
  .grid-container .child-element:last-child:nth-child(7) {
    @apply col-start-2;
  }
</style>
